<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <connectionStrings>
   
   
  
  <!--Staging environment connection string airpollutionStaging_db -->
    <add name="ConnectionString" connectionString="Server=minditsystemstagingfeb.cexb0xi7s9rp.ap-south-1.rds.amazonaws.com;Database=airpollutionStaging_db;Uid=admin;Pwd=mindit123;" providerName="MySql.Data.MySqlClient" />
   
  
  </connectionStrings>
  <appSettings>
    <!-- <add key ="Mode" value ="Daily"/>-->
  <add key ="Mode" value ="Interval"/>
    <add key ="IntervalMinutes" value ="150"/>
    <add key ="ScheduledTime" value ="18:41"/>

    <!-- for bifurcating the service in dbhelper fetch city proc , we are giving the proc value from webconfig-->
    <add key ="FetchCityProc" value ="sp_fetchCityService2"/>
  
    <!-- Api on/Off switch, case sensitive-->
  <add key ="GovtApi" value ="Off"/>
   <add key ="PvtApi" value ="ON"/>
  </appSettings>
  
</configuration>